<div class= "container">
  <header class= "jumbotron">
    <h1><center>Message Board</center></h1>
    <center>{{#link-to 'index'}}Go Home{{/link-to}}</center>
  </header>
    {{outlet}}
  <hr>

</div>
