
<h3 id="message_title">Click Reply to see more details and leave a response!</h3>

<ul>
  {{#each model as |message|}}
     {{message-tile message=message update="update"}}
  {{/each}}
</ul>

{{new-message saveMessage="saveMessage"}}
